.navItem{
  display: flex;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  margin: auto;
}
.authButton{
  background-color: var(--stemButton);
  height: 50px;
  width: 247px;
  padding: 10px 0 10px 25px;
  border-radius: 10px;
  align-items: center;
  overflow: hidden;
  justify-content: center;

  div{
    padding-left: 20px;
  }
  .steamIconButton{
    position: absolute;
    left: -15px;
    width: 60px;
    height: 29px;
  }
}

@media (max-width: 600px) {
  .buttonText{
    display: none;
  }
  .authButton{
    width: 100px;
    .steamIconButton{
      left: 20px;
    }
  }

}