@import '../../options';

.gameList{
    background-color: var(--mainColor);
    //width: calc(70% - 20px);
    width: 100%;
    overflow: hidden;
    margin-right: 20px;
    border-radius: 8px;
    padding-bottom: 20px;
}


.currentGameIcon{
    position: absolute;
    left: 47px;
    top: 18px;
    width: 32px;
    height: 32px;
    fill: var(--mainText);
}
.wrapperChat{
    width: 300px;
}
.gameTitle{
    width: 100%;
    background-color: var(--sideColor);
    padding: 20px 80px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 22px;
    position: relative;
}

//@media (min-width: 576px) {
//
//}
//
//@media (min-width: 768px) {
//    .ContentContainer{
//        width: 100%;
//    }
//}
//
//@media (min-width: 992px) {
//    .ContentContainer{
//        max-width: 920px;
//        min-width: 780px;
//    }
//}
//
//@media (min-width: 1200px) {
//    .ContentContainer{
//        max-width: 1300px;
//        min-width: 960px;
//    }
//}