@import '../../options';

.game{
  float: left;
  background-color: var(--sideColor);
  margin: 20px 5% 0 5%;
  min-width: 35%;
  border-radius: $borderRadius;

}

.gameInfo{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  p{
    padding: 0;
    margin: 30px auto 0;
  }
}

.lootInfo{
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .title{
    float: left;
    max-width: 250px;
    text-align: center;
    padding-right: 10px;
    margin: auto;
  }
  .skinAndCost{
    float: left;
    position: relative;
  }
  p{
    padding: 10px;
  }
  .wear{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: var(--mainText);
    opacity: .7;
    text-align: center;
  }
  .cost{
    position: absolute;
    right: 15px;
    bottom: 40px;
    background: var(--bgSideColor);
    padding: 5px 7px;
    border-radius: 20px;
    text-align: center;
    max-width: 70px;
    overflow: hidden;
    max-height: 40px;
    div{
      float: left;
      padding: 0 3px;
      margin-top: 2px;
    }
    .svgCoin{
      height: 22px;
      width: 22px;
      margin-right: 0!important;
    }
  }
  .voting{
    cursor: pointer;
    background: var(--stemButton);
    width: 112px;
    font-size: 12px;
    font-weight: 600;
    padding: 7px 0;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    color: white;
  }
}
.gameDiagram{
  width: 170px;
  height: 170px;
}
.gameItem{
  display: flex;
  font-size: 17px;
  justify-content: space-evenly;
  padding: 15px;
}

.item{
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;

}
.skin{
  width: 200px;
  height: 150px;
}