:root {
  --theme: black;
  --mainColor: #21252c;//
  --sideColor: #292e35;//
  --bgSideColor: #373d49;//
  --bgField: #2e343d;//
  --bgColor: #1c1f22;//
  --bgChat: #2f353d;//
  --stemButton: rgba(93,152,75,.8);
  --mainText: white;//
  --mutedText: #3f4754;

}

$url: '../../img/';
$mainTextSize: 16px;
$middleTextSize: 16px;
$borderRadius: 8px;